*{
  font-family: Arial, Arial, sans-serif;
}
.color {
    background-color: #ccc;
}

h1 {
  font-size: 90px; 
  text-align: center;
  background-color: transparent;
  font-weight: 500;
  border: none;
  overflow: hidden;
  color: orangered;
  margin-bottom: 0px;
  font-family: Bobber;

}
h2 {
  font-size: 24px; 
  text-align: center;
  background-color: transparent;
  font-weight: 500;
  border: none;
  overflow: hidden;
  color: orangered;
  margin-top: 0px;
  font-family: Bobber;

}
h3 {
  font-size: 36px; 
  background-color: transparent;
  font-weight: 500;
  border: none;
  overflow: hidden;
  color: orange;
  margin-bottom: 0px;	
}
h4 {
  font-size: 36px; 
  background-color: transparent;
  font-weight: 500;
  border: none;
  overflow: hidden;
  color: black;
  text-align: center;
}
body{
  /*background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("raindrops-blue-garden-seamless-tile.jpg");*/
  background-color: grey;
  background-repeat: repeat;
  background-attachment:fixed;
  margin: 0;
  padding: 0;
  position: sticky;
  background-attachment: fixed;
  background-position: center;
  margin-top: 30px;

}

/* Add a black background color to the top navigation */
.topnav {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("rain-umbrella.jpg");
    /*background-color: white;*/
    background-size: cover;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-attachment: fixed;
    background-position: center;
    top: 0;
    width: 100%;
    border-color: black;
    border: solid;
    height: 270px;


}

/* Style the links inside the navigation bar */
.topnav a {
    color: orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}
.topnav img{
	background: none;
	border: none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}